$maincolor: #22264C;
$white: #ffffff;
$link: #4875BA;
$red: #F03249;
$yellow: #FECD1E;
$blue: #3267f8;
$green: #20b901;
$pink: #ff31dd;

$maincolorHover: #303666;
$redHover: #d82036;
$yellowHover: #ffc800;
$greenHover: #1a9103;