.reportInput {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 76px;
    border: 1px solid rgba(126, 144, 172, 0.49);
    border-radius: 5px;
    input {
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        outline: none;
        font-weight: 300;
        font-size: 20px;
        padding: 0 20px;
    }
}