.reportDamage {
    width: 100%;
    .pole {
        background: url(../../../../assets/img/right.png) no-repeat;
        background-position: center;
        background-size: contain;
        min-height: 350px;
        min-width: 525px;
    }
}